{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Liste des thèmes {% endblock %}

{% block contenu %}    
    <h1> Liste des thèmes </h1>    
    {% if not listeThemes is empty %} 
         {{ form_start(form) }} 
        <table class="table">    
            <tr>
                <th>Libelle</th>
                <th></th>
            </tr>     
            {% for key,value in listeThemes %}      
                <tr>
                    <td><a href="{{ path('theme_modifier',{'id':value.id})}}">{{ value.libelle }}</a></td>
                    <td><input type="checkbox" name="cocher[]" value="{{ value.id }}"/></td>
                </tr>     
            {% endfor %}    
        </table>
        {{ form_end(form) }}
        
    {% else %}    
        Aucun thème à afficher
    {% endif %}
    
{% endblock %}